# Compiled class file
*.class
scape-editor-bundle/**
osdc-bundle/**
#Need to keep .gz for cache and clipping, so don't gitignore it.
*.rar
*.7z
*.zip
*.kotlin_module
Ferox-S/src/META-INF/MANIFEST.MF
Ferox-C/src/META-INF/MANIFEST.MF
Ferox-S/default.ini
Ferox-S/.idea/
Ferox-S/data/properties.json
Ferox-S/data/dump/**
Ferox-S/data/list/ids/**
Ferox-S/data/saves/**
out/**
Ferox-S/out/**
Ferox-C/out/**
.idea/
Ferox-S/default-test.ini
Ferox-S/dono-test.ini
Ferox-S/vote-test.ini
Ferox-C/EldritchCache/settings.txt
Ferox-S/err.txt
Ferox-S/out.txt
Ferox-S/data/logs/
Ferox-C/LuzoxLogs/err.txt
Ferox-C/LuzoxLogs/info.txt
Ferox-S/data/loginserver-info.txt
Ferox-S/data/offline-profiles-eco-scan.txt
Ferox-S/combat-sims.txt
Ferox-S/data/taskmanager-breakdown.txt
Ferox-S/data/properties1.json
EldritchCache
Ferox-S/donations-test.ini
Ferox-S/votes-test.ini
Ferox-S/data/clipping/
Ferox-S/data/eco scan - pkp.txt
Ferox-S/data/eco scan - player all pkp items.txt
Ferox-S/data/eco scan - ref by name.txt
Ferox-S/data/eco scan - refs.txt
Ferox-S/data/eco scan - summary.txt
Ferox-S/data/eco scan - votes.txt
Ferox-S/data/lag trigger info.txt
Ferox-S/data/osrs objs dump.txt
Ferox-S/data/properties-test.json
Ferox-S/data/local-properties.json
Ferox-S/data/tradingpost/**
Ferox-C/FeroxCache/settings.txt
